/* components/Loader.module.css */
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.tv {
    width: 140px; /* Augmenté la largeur */
    height: 100px; /* Augmenté la hauteur pour un aspect plus rectangulaire */
    background: #555; 
    border-radius: 12px; /* Ajusté pour la nouvelle taille */
    position: relative;
    overflow: hidden;
    transition: background 0.5s ease-in-out; /* Transition pour changement de couleur */
}

.screen {
    width: 120px; /* Augmenté la largeur de l'écran */
    height: 80px; /* Augmenté la hauteur de l'écran */
    background: #aaa; /* Couleur claire pour l'écran lorsqu'il est allumé */
    position: absolute;
    top: 10px;
    left: 11px; /* Ajusté pour centrer avec la nouvelle largeur de l'écran */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible; /* Assurez-vous que la visibilité est gérée par JavaScript */
    transition: background 0.5s ease-in-out; /* Transition pour changement de couleur */
}

.loadingLogo {
    width: 35px; /* Augmenté la taille du logo de chargement */
    height: 35px; /* Augmenté la taille du logo de chargement */
    border: 5px solid #3498db;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: spin 1s linear infinite;
    visibility: hidden; /* Caché par défaut */
    transition: opacity 1s ease-in-out; /* Transition pour l'opacité */
}

.signal {
    width: 110px; /* Augmenté la largeur du signal */
    height: 12px; /* Augmenté la hauteur du signal */
    background: rgba(52, 152, 219, 0.5);
    position: absolute;
    bottom: 0;
    left: 15px; /* Ajusté pour centrer avec la nouvelle largeur du signal */
    border-radius: 50%;
    animation: signalPulse 1.5s infinite ease-in-out;
}

@keyframes tvFlash {
    0%, 100% {
        background: #333; /* Couleur de la télévision lorsqu'elle est éteinte */
    }
    50% {
        background: #555; /* Couleur de la télévision lorsqu'elle est allumée */
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes signalPulse {
    0%, 100% {
        transform: scaleX(1);
        opacity: 0.6;
    }
    50% {
        transform: scaleX(0.8);
        opacity: 1;
    }
}
